*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E7E7E7;
    padding-top: 100px;
}


header{
display: flex;
margin-bottom: 40px;

}
header img{
    height: 50px;
    margin-right: 20px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

form input{
    border: none;
    border-bottom: 3px solid black;
padding: 15px;
font-size: 24px;
margin: 0 20px;
}

form button{
    background-color: green;
    box-shadow: 5px 5px 10px rgb(27, 21, 21);
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 24px;
    padding:8px;
    cursor: pointer;
    transition: 0.2s ease;
}

form button:hover{
    background-color: rgb(7, 159, 7);
    border-radius: 15px;
    padding: 9px;
}

thead tr{
font-size: 30px;
}

tbody tr{
font-size: 24px;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
table{
    width: 100%;
    }

table th{
    border-bottom: 3px solid black;
padding: 16px;
font-size: 27px;
font-weight: bold;
}

table td{
    text-align: center;
    font-size: 22px;
padding: 16px 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    max-width: 640px;
    justify-content: space-between;
    margin-bottom: 56px;
}
